{% extends "shop_layout.html.twig" %}

{% block page_title %}
    Connexion
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-8 mx-auto">
                <h1 class="my-4 text-center">
                    Connexion
                </h1>
                <br>
                {{ form(form) }}
            </div>
        </div>
    </div>

{% endblock %}

{% block slider %}{% endblock %}

{% block final_stylesheets %}{% endblock %}

{% block final_javascripts %}{% endblock %}



