{% extends "shop_layout.html.twig" %}

{% block page_title %}
    register
{% endblock %}

{% block content %}
    <div class="container card jumbotron">
        <div class="row">
            <div class="col-8 mx-auto">
                <h3 class="my-4 text-center">
                    Register
                </h3>
                {{ form(form) }}
            </div>
        </div>
    </div>

{% endblock %}

{% block slider %}{% endblock %}

{% block final_stylesheets %}{% endblock %}

{% block final_javascripts %}{% endblock %}



