<div class="footer">
    <div class="clearfix"></div>
    <div class="footer-bottom">
        <h2><a href="{{ path('shop_home') }}">Green Kilty<span>Your local shop !</span></a></h2>
        <p class="fo-para">Des produits éco-responsables et équitables</p>
        <ul class="social-fo">
            <li><a href="#" class=" face"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="#" class=" twi"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="#" class=" pin"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
            <li><a href="#" class=" dri"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
        </ul>
        <div class=" address">
            <div class="col-md-4 fo-grid1">
                <p><i class="fa fa-home" aria-hidden="true"></i>Rue Pierre Gédéon Trioncelle <br> 97122 Baie-Mahault</p>
                <p><a href="mailto:contact@greeenkilty.com"><i class="fa fa-envelope-o" aria-hidden="true"></i>contact@greeenkilty.com</a></p>
            </div>
            <div class="col-md-4 fo-grid1">
                <p><i class="fa fa-phone" aria-hidden="true"></i>0690 91 67 29||0590 42 75 75 </p>
            </div>
            <div class="col-md-4 fo-grid1">
                <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d18692.59773728568!2d-61.570113764703756!3d16.25706312001681!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x8c13438a3f6dbde9%3A0xbc4ee8ffba83b57d!2sBaie%20Mahault%2C%20Guadeloupe!3m2!1d16.244473799999998!2d-61.571718!4m5!1s0x8c0e755a77287d51%3A0xecbe3e37b74a07ab!2sGuadeloupe!3m2!1d16.265!2d-61.550999999999995!5e1!3m2!1sfr!2sfr!4v1576240528110!5m2!1sfr!2sfr"
                        width="300" height="200" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="copy-right">
        <p> © 2019 Big SHOP. All Rights Reserved | Design by  <a href="http://w3layouts.com/"> Myself and I</a></p>
    </div>
</div>
</div>